<%-include('header') -%>
<h1  class="text-light text-center bg-none mt-5">WELCOME TO HOMEPAGE</h1>
<style>
body {
background-image: url(https://images.unsplash.com/photo-1520209759809-a9bcb6cb3241?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW1nfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60);
background-repeat: no-repeat;
background-size: cover;
}
</style>

<div style="height: 80vh; display: flex;  flex-direction: column; justify-content: end; align-items: center;"><button type="submit" class="btn btn-primary btn-lg btn-block w-10 m-5 mb-3"  ><a href="/route/logout" class="text-light " style="text-decoration: none;" >Sign out</a></button></div>
<%-include('footer') -%> 